<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
</head>
<body>
    <div class="header text-light py-3 shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <h2 class="flex-grow-1 text-center font-weight-bold">B I B L I O T E C A</h2>
        <div class="text-right d-flex align-items-center">
            <h6 class="mb-0 mr-2">
                <i class="fas fa-user"></i>
                Bienvenido, <span class="font-italic">{{ username }}</span>
            </h6>
            <a class="btn btn-outline-light btn-sm" href="{{ url_for('logout') }}">Cerrar sesión</a>
        </div>
    </div>
</div>

    <div class="container mt-4">
        <h3 class="text-center font-weight-bold">Gestión de Libros</h3>
        <form method="POST" enctype="multipart/form-data" class="mb-4">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-md-6 form-group">
                    {{ form.nombre.label(class="form-label") }}
                    {{ form.nombre(class="form-control form-control-sm mb-3") }}
                    {% if form.nombre.errors %}
                        <div class="alert alert-danger">
                            {{ form.nombre.errors[0] }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-6 form-group">
                    {{ form.autor.label(class="form-label") }}
                    {{ form.autor(class="form-control form-control-sm mb-3") }}
                    {% if form.autor.errors %}
                        <div class="alert alert-danger">
                            {{ form.autor.errors[0] }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    {{ form.genero.label(class="form-label") }}
                    {{ form.genero(class="form-control form-control-sm mb-3") }}
                    {% if form.genero.errors %}
                        <div class="alert alert-danger">
                            {{ form.genero.errors[0] }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-6 form-group">
                    {{ form.estatus.label(class="form-label") }}
                    {{ form.estatus(class="form-control form-control-sm") }}
                    {% if form.estatus.errors %}
                        <div class="alert alert-danger mt-1">
                            {{ form.estatus.errors[0] }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{ form.archivo.label(class="form-label") }}
                {{ form.archivo(class="form-control-file") }}
                {% if form.archivo.errors %}
                    <div class="alert alert-danger">
                        {{ form.archivo.errors[0] }}
                    </div>
                {% endif %}
            </div>
            
            <button type="submit" class="btn btn-primary">Agregar Libro</button>
        </form>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info mt-3">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <table class="table mt-4 table-bordered" style="color: white;">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Género</th>
                    <th>Estatus</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for libro in libros %}
                    <tr>
                        <td>{{ libro[1] }}</td>
                        <td>{{ libro[2] }}</td>
                        <td>{{ libro[3] }}</td>
                        <td>{{ libro[4] }}</td>
                        <td>
                            <!-- Acción Ver PDF -->
                            <button class="btn btn-info" data-url="{{ url_for('ver_pdf', id_libro=libro[0]) }}" data-toggle="modal" data-target="#pdfModal" title="Ver PDF">
                                <i class="fas fa-file-pdf"></i>
                            </button>
                                        
                            <!-- Acción Editar -->
                            <a href="{{ url_for('editar_libro', id_libro=libro[0]) }}" class="btn btn-warning" title="Editar">
                                <i class="fas fa-edit"></i>
                            </a>
            
                        
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal para ver PDF -->
    <div class="modal fade" id="pdfModal" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pdfModalLabel">Ver PDF</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe id="pdfViewer" src="" width="100%" height="500px"></iframe>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $('#pdfModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // El botón que activa el modal
            var url = button.data('url'); // Extraer la URL del data-url
            var modal = $(this);
            modal.find('#pdfViewer').attr('src', url); // Asignar la URL al iframe
        });
    </script>
</body>
</html>
